<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5 class="card-title"><b>Total Registrations</b></h5>
            <p class="card-text"><b>{{users.length}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5 class="card-title"><b>Total Vaccines</b></h5>
            <p class="card-text"><b>{{vaccineList.length}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5 class="card-title"><b>Total Vaccine Centers</b></h5>
            <p class="card-text"><b>{{vaccineCenterList.length}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>